<header>
    <!-- Header page -->
    <h4>CODIAL</h4>
    <ul>
        <% if (locals.user){ %>
         <li>
             <a class="user-name" href="/users/profile"> <%= user.name %> </a>
         </li>
         <li>
             <a class="user-signUp" href="/users/sign-out">Sign Out</a>
         </li>

        <%} else{ %>
            <li>
                <a href="/users/log-in">Log In</a>
            </li>
            <li>
                <a href="/users/sign-up">Sign Up</a>
            </li>

       <% } %>
    </ul>
</header>