<form action="/users/create" method="POST">
    <input type="email" name="email" placeholder="enter email">
    <input type="password" name="password" placeholder="password">
    <input type="password" name="confirm_password" placeholder="confirm password">
    <input type="text" name="name" placeholder="enter name">
    <input type="submit" value="sign in">
</form>